.activities {
    margin-top: .2rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.activities .activity {
    height: 5rem;
    padding: .5rem 0;
    display: inline-flex!important;
    flex-direction: row!important;
    margin: .2rem 0;
    flex-grow: 1;
    border-bottom: 1px solid gray;
    width: 100%;
}
.activities .activity .icon, .activities .activity .name {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.activities .activity .icon i {
    font-size: 4rem;
    color: black;
    vertical-align: middle;
}

.activities .activity .name p {
    margin: 0;
    padding: 0;
    color: black;
}

.columns1-4 {
    width: 29.5%;
}

.columns3-4 {
    width: 70.5%;
}
