.categories {
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: .2rem;
}

.categories .category {
    height: 6rem;
    background-color: transparent;
    display: inline-block;
    border: .1rem solid white;
    border-radius: 1rem;
    margin: 0 .2rem;
    flex-grow: 1;
}
.categories .category .icon, .categories .category .name {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100px;
}

.categories .category .icon i {
    font-size: 4rem;
    color: white;
}

.categories .category .name p {
    margin: 0;
    padding: 0;
    color: white;
}
